
.color1 {background-color: #112c3d;}
.color2 {background-color: #0d536b;}
.color3 {background-color: #0989a4;}
.color4 {background-color: #05cfe5;}
.color5 {background-color: #0ffff8;}
 


.color6  {background-color: #3d87e7;}
.color7  {background-color: #eff1ff;}
.color8  {background-color: #141a35;}
.color9  {background-color: #77777c;}
.color10 {background-color: #e2e2e2;}
