header {
    nav{    
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #3d87e7 ;

        div {
           
           .zeusnav {
                @include zeusnav

           }

           ul {
               font-size: 20px;
                li { 
                    ul{font-size: 15px;
                        li{
                        
                        
                        }
                    }
                }
           }
        }
    }
}

