* {
    margin: 0;
    padding: 0%; 
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    font-family: 'Poppins', sans-serif;
    
}

/* zonaproducto */
$productobottom:1.2%;

$colortitulo:#1f7af2e3;


$zeusbox: white;

/*nav*/
@mixin zeusnav {
    margin-left: 2%;
    font-size: 30px;
    color: $zeusbox;
    text-decoration:none
}


