.carmar {
    margin:5%;
}
.fotmar {
    margin : 2%;
}


.titulozeus {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


.parrafozeus {
    display: flex;
    justify-content: center;
    margin :5%;
}

.tituloprod {
    display: flex;
    justify-content: center;
    
}
.metopagot {
    display: flex;
    justify-content:center;
    
}

.metopaimg {
   display: block;
  justify-content: center;
    margin : 5%;
    width: 75%;
}





