.carmar {
    margin:5%;
}
.fotmar {
    margin : 2%;
}


.titulozeus {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


.parrafozeus {
    display: flex;
    justify-content: center;
    margin :5%;
}

.tituloprod {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 18rem 0 10rem 0;
    
}
.metopagot {
    display: flex;
    justify-content:center;
    font-size: 30px;
    margin: 18rem 0 12rem 0;
    
}

.metopaimg {
   display: flex;
     justify-content: center;
    margin : 5%;
    margin-left: 7% ;
    width: 75%;
}





