


@mixin  productobot  {
    
    margin: $productobottom;
   
}

.caja2 {
    margin-bottom: 4rem;
}

@mixin colortitu {
    display: flex;
    justify-content: center;
    font-size: 60px;
   
}


.titulozona {
    display:flex;
    justify-content:center; 
    padding:8%; 
    font-size:60px;
    color:#fff; 
    background-image:url(https://cdn.theathletic.com/app/uploads/2022/04/05121746/Rebounds_Article-scaled.jpg); 
    background-size: cover;
    background-position:top center; 
    background-repeat:no-repeat;
    @include colortitu
    

}


.caja {
@include productobot
}


/*-prodcutos gaps internos--*/

$marginimg: 18%;

@mixin mrimg { margin-top: $marginimg ;} 
    
.margimg {
    @include mrimg 
}

/*---x2*/
$marginimg2: 28%;

@mixin mrimg2 { margin-top: $marginimg2 ;} 
    
.margimg2 {
    @include mrimg2 
}


