


@mixin  productobot  {
    
    margin: $productobottom;
   
}



@mixin colortitu {
    display: flex;
    justify-content: center;
    margin: 8%;
    font-size: 60px;
    color: $colortitulo;
}


.titulozona {
   
    @include colortitu
}


.caja {
@include productobot
}