.titulozeus {
    margin:  10%;
    display: flex;
    justify-content: center;
}

.parrafozeus {
    margin: 10%;
    display: flex;
    justify-content: center;

}

.donde {
    margin:  10%;
    display: flex;
    justify-content: center;
}

.titulo-section 
{
    color:#3d87e7;
    display: flex;
    justify-content: center;
    font-size: 30px;
  } 


